<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8"/>
		<title>Dashboard</title>
		<link rel="stylesheet" href="/assets/css/admin.css" type="text/css" media="screen"/>
	</head>
	<body>

		<header id="header">
			<hgroup>
				<h2 class="section_title" style="padding-left: 15%;">
					<a href="/admin/home">Dashboard</a>
				</h2>
			</hgroup>
		</header>

		<section id="secondary_bar">
			<div class="user">
				{% for sale in sales %}
					<p>Chiffre d'affaire :
						{{ sale / 100 }}
						€
					</p><br>
				{% endfor %}
			</div>
			<div class="ca">
				{% for  sale_of_the_day in sales_of_day %}
					Chiffre d'affaire du
					{{ "now"|date("m/d/Y") }}
					:
					{{ sale_of_the_day / 100}}
					€
				{%  endfor %}
			</div>


		</section>

		<aside id="sidebar" class="column">
			<br>
			<h3>
				<a href="/admin/allorders">Toutes les commandes</a>
			</h3>
			<ul class="toggle"></ul>
			<h3>
				<a href="/admin/showpizza">Pizza</a>
			</h3>
			<ul class="toggle"></ul>
			<h3>
				<a href="/admin/allcategory">Categories</a>
			</h3>
			<ul class="toggle"></ul>
			<h3>
				<a href="/admin/allcustomers">Clients</a>
			</h3>
			
			<ul class="toggle"></ul>
			<h3>
				<a href="/">Retour a l'accueil</a>
			</h3>
			<ul class="toggle"></ul>
			<h3>
				<a href="/User/logout">Se déconnecter</a>
			</h3>
			<ul class="toggle"></ul>
		</aside>

		<section id="main" class="column">
			<article class="module width_3_quarter">
				<header>
					<h3 class="tabs_involved">Créer
					</h3>
				</header>
				<div class="tab_container">
					<div id="tab1" class="tab_content">
						<table class="tablesorter" cellspacing="0">
							<tbody>
								<form method="post" enctype="multipart/form-data">
									<ul>
										<li style="list-style:none;"><input placeholder="Prenom" type="text" name="firstname" id="firstname" required></li><br>
										<li style="list-style:none;"><input placeholder="Nom" type="text" name="lastname" id="lastname" required></li><br>
										<li style="list-style:none;"><input placeholder="adresse@mail.com" type="email" name="email" id="email" required></li><br>
										<li style="list-style:none;"><input placeholder="Addresse" type="text" name="adress" id="adress" required></li><br>
										<li style="list-style:none;"><input placeholder="" type="password" name="password" id="password"></li><br>
										{# <li style="list-style:none;"><input type="file" placeholder="Lien de votre image" name="image" id="image"></li><br> #}
										<li style="list-style:none;"></li>
										<li style="list-style:none;">
											<select id="role" name="role">
												<option value="">--Choisir votre rôle--</option>
												<option id="role" name="role" value="1">Administrateur</option>
												<option id="role" name="role" value="">Client</option>
											</select>
										</li><br>
								</select>
							</tbody>
						</li><br>
						<li style="list-style:none;"><input type="submit" name="submit" id="submit" value="Valider"></li><br></tbody>
				</ul>
			</tbody>
		</form>
	</body>
</html></tbody></tbody></body></html></ul></tbody></body></html></table> </div></body></body></html></div></article><div class="spacer"></div></body></html></section></body></html>