<footer class="footer section bd-container"><div class="footer__container bd-grid">
<div class="footer__content">
	<a href="/home/index" class="footer__logo">
		<img src="/assets/images/logo.svg" alt="" width="250px" class="logo__svg">
	</a>
	<div>
		<a href="#" class="footer__social">
			<i class="bx bxl-facebook"></i>
		</a>
		<a href="#" class="footer__social">
			<i class="bx bxl-instagram"></i>
		</a>
		<a href="#" class="footer__social">
			<i class="bx bxl-twitter"></i>
		</a>
		{# <a href="/admin/home" class="footer__social">
			<i class='bx bx-exit'></i>
		</a> #}
	</div>
</div></div><p class="footer__copy">&#169; 2021. All right reserved</p></footer>